{% include 'CodeFaqsFrontBundle::layout.html.twig' %}


{% block content %}


    {% for question in questions %}

        {{ include("CodeFaqsFrontBundle:Question:snippet.view.html.twig", {question: question}) }}

    {% endfor %}

{% endblock content %}