
{{ form_start(form) }}
    
    {{ form_errors(form) }}
    <div>
        {{ form_widget(form.title, { 'attr': {'style': 'width:800px'} }) }}
    </div>
    <div>
        {{ form_widget(form.content, { 'attr': {'style': 'width:800px; height:600px;'} }) }}
    </div>

{{ form_end(form) }}