{% include 'CodeFaqsFrontBundle::layout.html.twig' %}


{% block content %}

    {% if canedit %}
        <a href="{{ url("question_edit", {question_id: question.id}) }}">edit</a>
    {% endif %}


    <h2>{{ question.title }}</h2>
    <article class="markdown-body">
        {{ question.content|markdown }}
    </article>

    {% for answer in answers %}

        {{ include("CodeFaqsFrontBundle:Answer:snippet.view.html.twig", {answer: answer}) }}

    {% endfor %}

    {{ include("CodeFaqsFrontBundle:Answer:snippet.edit.html.twig", {form: answerForm}) }}

{% endblock content %}