<div class="grid_6">
	<a href="{{ path('index')}}" class="brand">Code Faqs</a>
</div>

<div class="grid_6">
	{% if is_granted('ROLE_USER') %}
		{% if app.user.twitterPhoto is defined and '' != app.user.twitterPhoto %}
			<img style="height:30px" src="{{ app.user.twitterPhoto }}" />
		{% endif %}
		<a href="{{ path ('logout')}}" class="logged">log out</a>
	{% else %}
		<a href="{{ path('twitter_connect')}}" class="logged"><img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"></a> 
	{% endif %}

	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">{{ flashMessage }}</div>
	{% endfor %}
</div>

<div class="grid_12 search">
	<input type="text" placeholder="What is your question ?">
</div>

<ul class="nav_buttons">
	<li class="grid_3"><a href="#" class="button">button</a></li>
	<li class="grid_3"><a href="#" class="button">button</a></li>
	<li class="grid_3"><a href="#" class="button">button</a></li>
	<li class="grid_3"><a href="{{ path('question_new')}}" class="button_highlight">Send a question</a></li>
</ul>
