<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodeFaqs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bundles/codefaqsfront/css/main.css" type="text/css" media="screen, projection" />

</head>
<body>

	<div class="wrap base">
		<div class="container_12">

			{% include 'CodeFaqsFrontBundle::header.html.twig' %}

			{% block content %}{% endblock %}

		</div>
	</div>

	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="/bundles/codefaqsfront/js/jquery.knob.js"></script>
	<script type="text/javascript" src="/bundles/codefaqsfront/js/main.js"></script>

</body>
</html>