<a href="{{ path('index')}}">Index</a> 

{% if is_granted('ROLE_USER') %}

    {% if '' != app.user.twitterPhoto %}

        <img style="height:30px" src="{{ app.user.twitterPhoto }}" />
    {% endif %}

    <a href="{{ path ('logout')}}">Logout</a>
{% else %}

    <a href="{{ path('twitter_connect')}}"> <img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"></a> 
{% endif %}

<a href="{{ path('question_new')}}">New Question</a> 

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}