/* ----------------------------------------------------------------------
 * Commons elements
 * ----------------------------------------------------------------------

.base
	padding: 2em
	padding-top: 1em
	overflow: hidden
	+box-shadow(0px, 0px, 2px, 2px, #ccc)

.brand
	font-size: 40px
	font-weight: bold
	margin-bottom: 0.5em

.logged
	float: right
	font-weight: bold
	margin-top: 1em

.search, .nav_buttons
	margin-bottom: 1.5em

.content
	margin-top: 1em

.block_question

	.rate
		float: left
		margin-right: 30px
		margin-top: 10px
	
	.question
		text-align: justify
		margin-left: 120px
