/* ----------------------------------------------------------------------
 * Grid
 * ----------------------------------------------------------------------

.wrap
	width: 840px
	margin: 0 auto

.container_12
	width: 100%
	margin: 0

.grid_3, .grid_6, .grid_12
	float: left
	display: inline
	margin-left: 1%
	margin-right: 1%

.container_12

	.grid_3
		width: 23%
	
	.grid_6
		width: 48%
	
	.grid_12
		width: 98%
