/* ----------------------------------------------------------------------
 * Mixins
 * ----------------------------------------------------------------------

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-o-border-radius: $radius
	border-radius: $radius

=box-shadow($hor, $ver, $blur, $spread, $color, $inset:"")
	-webkit-box-shadow: $hor $ver $blur $spread $color #{$inset}
	-moz-box-shadow: $hor $ver $blur $spread $color #{$inset}
	-o-box-shadow: $hor $ver $blur $spread $color #{$inset}
	box-shadow: $hor $ver $blur $spread $color #{$inset}

=transition($property, $time, $type:"")
	-webkit-transition: $property $time #{$type}
	-moz-transition: $property $time #{$type}
	-ms-transition: $property $time #{$type}
	-o-transition: $property $time #{$type}
	transition: $property $time #{$type}

=appearance($type)
	-webkit-appearance: $type
	-moz-appearance: $type
	appearance: $type