/* ----------------------------------------------------------------------
 * Normalize
 * ----------------------------------------------------------------------

body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	background-color: white

a
	text-decoration: none

	&, &:hover, &:active, &:visited
		color: black

ul, a
	display: block

p
	color: #bbb
	font-size: 15px
	line-height: 20px


/* Headers
 * ----------------------------------------------------------------------

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	font-weight: 500
	line-height: 1.1

h1, h2, h3
	margin-top: 20px
	margin-bottom: 10px

h4, h5, h6
	margin-top: 10px
	margin-bottom: 10px

h1, .h1
	font-size: 38px

h2, .h2
	font-size: 32px

h3, .h3
	font-size: 24px

h4, .h4
	font-size: 18px

h5, .h5
	font-size: 14px

h6, .h6
	font-size: 12px


/* Buttons
 * ----------------------------------------------------------------------

input
	+appearance(none)
	+border-radius(2px)
	border: 1px solid #ccc
	padding: 0.7em
	width: 98%


/* Buttons
 * ----------------------------------------------------------------------

button
	+appearance(none)

.button
	font-size: 16px
	font-weight: bold
	border: none
	margin: 0
	padding: 0.7em
	background-color: #eee
	text-align: center

	&:hover
		background-color: $color_green
		+transition(background-color, 0.25s)

.button_highlight
	@extend .button
	background-color: $color_green

	&:hover
		background-color: #F8C0C0
		+transition(background-color, 0.25s)
