{% extends 'CodeFaqsFrontBundle::layout.html.twig' %}

{% block content %}

<div class="grid_12 content">
	<div class="block_question">
		<div class="rate">
			<input type="text" value="75" class="dial">
		</div>
		<div class="question">
			<h2>¿Cuál es el sentido de la vida?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, tempore, qui, nam, incidunt eius inventore consequuntur libero fugiat quia voluptates delectus facilis saepe deleniti aperiam fuga deserunt pariatur eligendi perferendis!</p>
		</div>
	</div>
</div>

{% endblock %}